body {
    background-image: url(jellyfish.jpg);
    background-repeat: repeat;
    font-family: sans-serif;
    color: aliceblue;
}
div {
    margin: auto;
    width: 500px;
}

blockquote {
    border: 1px solid white;
    text-align: center;
    margin-left: 0;
}

h1 {
    color: white;
}